/* Fitbit Component Styles */

.tumblerview-item {
	font-family: System-Light;
	font-size: 110;
}

#code {
	width: 120;
	height: 190;
	fill: fb-orange;
	overflow: hidden;
}

#code #value text {
	x: 50%;
	y: 110;
	text-anchor: middle;
}

/* My Styles */

.bg {
	width: 100%;
	height: 100%;
}

.bg--editing {
	fill: fb-white;
	fill-opacity: 0.3;
}

.bg--editing-overlay {
	fill: fb-blue;
	fill-opacity: 0.55;
}

.digit {
	height: 93;
	width: 66;
}

.icon {
	height: 32;
	width: 32;
	fill: fb-white;
}

.icon--activity {
	height: 48;
	width: 48;
	fill: fb-white;
}

#time-sep.digit {
	width: 16;
}

.primary {
	fill-opacity: 1;
}

#date-day.primary {
	font-family: System-Regular;
}

.secondary {
	fill-opacity: 0.7;
}

.text {
	font-family: System-Light;
}

.text--bold {
	font-family: System-Regular;
}

.text--extra-bold {
	font-family: System-Bold;
}

.text--xl {
	font-size: 42;
}

.text--lg {
	font-size: 36;
}

.text--md {
	font-size: 32;
}

.text--sm-plus {
	font-size: 25;
}

.text--sm {
	font-size: 22;
}

.text--caps {
	text-transform: uppercase;
}

.theme--pure text {
	fill: fb-white;
}

.theme--pure textarea {
	fill: fb-white;
}

.theme--pure .digit {
	fill: fb-white;
}
