/* Fitbit Component Styles */

.combo-button-background {
	fill-opacity: 0.4;
}

.tumblerview-item {
	font-family: SevilleSharp-Book;
	font-size: 110;
}

/* My Styles */

.bg {
	width: 100%;
	height: 100%;
}

.bg--editing {
	fill: fb-white;
	fill-opacity: 0.3;
}

.bg--editing-overlay {
	fill: fb-blue;
	fill-opacity: 0.55;
}

.digit {
	height: 93;
	width: 66;
}

.icon {
	height: 32;
	width: 32;
	fill: fb-white;
}

.icon--activity {
	height: 48;
	width: 47;
	fill: fb-white;
}

#time-separator.digit {
	width: 16;
}

.primary {
	fill-opacity: 1;
}

.secondary {
	fill-opacity: 0.7;
}

.text {
	font-family: SevilleSharp-Book;
}

.text--bold {
	font-family: SevilleSharp-Regular;
}

.text--extra-bold {
	font-family: SevilleSharp-Bold;
}

.text--xl {
	font-size: 42;
}

.text--lg {
	font-size: 36;
}

.text--md {
	font-size: 32;
}

.text--sm-plus {
	font-size: 25;
}

.text--sm {
	font-size: 22;
}

/* .text--xs {
	font-size: 18;
} */

.theme--pure text {
	fill: fb-white;
}

.theme--pure textarea {
	fill: fb-white;
}

.theme--pure .digit {
	fill: fb-white;
}
